.container-header {
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  padding-left: 3rem;
  margin-top: 3rem; }
  .container-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background-color: #FF4C2F;
    border-radius: 0 1rem 1rem 0; }

.finance-card {
  width: 45%;
  height: 32.6rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06);
  background-color: #FFFFFF;
  margin-right: 3rem; }
  .finance-card .container {
    width: 100%;
    min-height: 10rem;
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-around; }
    .finance-card .container .finance-info-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .finance-card .container .finance-info-card .finance-icon {
        width: 5rem;
        height: 5rem; }
      .finance-card .container .finance-info-card .finance-title {
        font-size: 1.5rem;
        color: #676767;
        margin-top: 2rem;
        margin-bottom: 2rem; }
      .finance-card .container .finance-info-card .finance-value {
        font-size: 1.5rem; }

.value {
  color: #FF4C2F;
  font-size: 2.5rem; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #F5F5F5; }

body {
  font-family: 'Montserrat', sans-serif; }

.u-margin-top-xs {
  margin-top: 2.5rem; }

.u-margin-top-small {
  margin-top: 3rem; }

.u-margin-top-n {
  margin-top: -22rem; }

.u-margin-right-sm {
  margin-right: 3rem; }

.u-width-enlargement {
  width: 60% !important; }

.u-width-smallen {
  width: 30% !important; }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%; } }

main {
  display: flex; }

.left-column {
  width: 15.625%; }
  .left-column__profile {
    width: 100%;
    min-height: 25rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .left-column__profile .profile-pic {
      width: 10rem;
      height: 10rem;
      border-radius: 50rem; }
    .left-column__profile .user-name {
      margin-top: 1.5rem; }
    .left-column__profile .job-title {
      margin-top: 1rem;
      color: #676767; }
  .left-column__options {
    width: 100%;
    min-height: 40rem;
    background-color: #FFFFFF;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .left-column__options a {
      text-align: center;
      height: 2rem;
      width: 100%;
      padding: 2rem 0;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
      color: black;
      transition: all 0.2s; }
      .left-column__options a:hover {
        background-color: #ffbebe; }
    .left-column__options .selected {
      background-color: #f5f5f5; }
    .left-column__options .option-1 {
      border-radius: 0 0.5rem 0 0; }

.right-column {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 84.375%;
  padding: 3rem; }
  .right-column__search-bar {
    width: 45%;
    height: 7rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06);
    background-color: #FFFFFF;
    display: flex;
    justify-items: center;
    align-content: center; }
    .right-column__search-bar .search-icon {
      margin-left: 5rem; }
    .right-column__search-bar form {
      display: flex;
      justify-items: center;
      align-content: center;
      width: 100%; }
      .right-column__search-bar form input {
        width: 100%;
        padding: 2rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: inherit; }
  .right-column__reporting-to {
    width: 45%;
    height: 18rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06);
    background-color: #FFFFFF;
    margin-left: 3rem; }
    .right-column__reporting-to .reporting-to-person {
      height: 10rem;
      margin-top: 1rem;
      display: flex;
      margin-top: 3rem;
      margin-left: 3rem; }
      .right-column__reporting-to .reporting-to-person .reported-person-profile {
        width: 5rem;
        height: 5rem;
        border-radius: 50%; }
      .right-column__reporting-to .reporting-to-person .reported-person-info {
        margin-left: 2rem; }
        .right-column__reporting-to .reporting-to-person .reported-person-info .reported-person-name {
          font-size: 1.2rem;
          font-weight: 600; }
        .right-column__reporting-to .reporting-to-person .reported-person-info .reported-person-job {
          font-size: 1.2rem;
          font-weight: 600;
          color: #676767;
          margin-top: 1.5rem; }
  .right-column__about-me {
    width: 45%;
    height: 32.6rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06);
    background-color: #FFFFFF;
    margin-right: 3rem;
    margin-top: -8rem;
    display: flex;
    flex-direction: column; }
    .right-column__about-me .about-me-info {
      min-height: 5rem;
      padding: 0 8rem;
      margin-top: 4.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 4rem; }
      .right-column__about-me .about-me-info .single-info {
        width: 50%;
        height: 3.5rem;
        background-color: #FFFFFF;
        display: flex;
        align-items: center; }
        .right-column__about-me .about-me-info .single-info:nth-child(3), .right-column__about-me .about-me-info .single-info:nth-child(4) {
          margin-top: 3rem; }
        .right-column__about-me .about-me-info .single-info h1 {
          font-size: 1.2rem;
          font-weight: 500;
          margin-left: 1.5rem; }
    .right-column__about-me .horizontal-line {
      width: 80%;
      align-self: center;
      border-top: 1px dashed #E2E2E2; }
    .right-column__about-me .add-info {
      min-height: 4rem;
      display: flex;
      justify-content: center;
      align-content: center; }
      .right-column__about-me .add-info__icon {
        margin-top: 3rem;
        cursor: pointer; }
  .right-column__basic-info {
    width: 45%;
    min-height: 47.1rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06);
    background-color: #FFFFFF;
    margin-top: 3rem; }
    .right-column__basic-info .row-info {
      height: 3.5rem;
      padding: 0.5rem 6.2rem;
      display: flex;
      align-items: center;
      border-bottom: 0.1rem dashed #E2E2E2; }
      .right-column__basic-info .row-info .label {
        font-size: 1.5rem;
        font-weight: 500;
        color: #676767; }
      .right-column__basic-info .row-info .value {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        margin-left: auto; }
      .right-column__basic-info .row-info:last-child {
        border-bottom: none; }
  .right-column__financial-status {
    width: 45%;
    height: 32.6rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06);
    background-color: #FFFFFF;
    margin-right: 3rem; }
    .right-column__financial-status .container {
      width: 100%;
      min-height: 10rem;
      margin-top: 4.5rem;
      display: flex;
      justify-content: space-around; }
      .right-column__financial-status .container .finance-info-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .right-column__financial-status .container .finance-info-card .finance-icon {
          width: 5rem;
          height: 5rem; }
        .right-column__financial-status .container .finance-info-card .finance-title {
          font-size: 1.5rem;
          color: #676767;
          margin-top: 2rem;
          margin-bottom: 2rem; }
        .right-column__financial-status .container .finance-info-card .finance-value {
          font-size: 1.5rem; }

.right-column__salary-history {
  width: 92%;
  min-height: 50rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06);
  background-color: #FFFFFF;
  margin-top: 3rem;
  position: relative; }
  .right-column__salary-history .btn {
    border: none;
    background-color: transparent;
    position: absolute;
    padding: 1.2rem 2rem;
    border-radius: 0 0 1.5rem 1.5rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer; }
    .right-column__salary-history .btn__current-month {
      top: 0;
      right: 20%;
      color: #000000;
      margin-right: 4rem;
      background-color: #f5f0f0; }
    .right-column__salary-history .btn__select-date {
      background-color: #f5f0f0;
      top: 0;
      right: 10%;
      color: #000000;
      padding: 1.2rem 2.5rem; }
    .right-column__salary-history .btn__selected {
      background-color: #FF4C2F;
      color: #FFFFFF; }
  .right-column__salary-history .salary-history__table {
    margin-top: 4.5rem;
    padding: 0 3rem; }
    .right-column__salary-history .salary-history__table-headers {
      display: flex;
      align-items: center;
      border-bottom: 0.1rem solid #cfcfcf;
      padding-bottom: 1rem; }
      .right-column__salary-history .salary-history__table-headers .table-checkbox {
        margin-right: 1.4rem; }
      .right-column__salary-history .salary-history__table-headers .table-header {
        font-size: 1.4rem;
        font-weight: 600;
        color: #cfcfcf; }
        .right-column__salary-history .salary-history__table-headers .table-header:not(:last-child) {
          margin-right: 10%; }
        .right-column__salary-history .salary-history__table-headers .table-header:last-child {
          margin-left: auto; }
    .right-column__salary-history .salary-history__table-row {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;
      margin-top: 1rem; }
      .right-column__salary-history .salary-history__table-row:not(:last-child) {
        border-bottom: 0.1rem solid #cfcfcf; }
      .right-column__salary-history .salary-history__table-row:last-child {
        margin-bottom: 3rem; }
      .right-column__salary-history .salary-history__table-row .table-checkbox {
        margin-right: 1.4rem; }
      .right-column__salary-history .salary-history__table-row .table-value {
        font-size: 1.4rem;
        font-weight: 600;
        color: #000000; }
        .right-column__salary-history .salary-history__table-row .table-value:not(:last-child) {
          margin-right: 10%; }
        .right-column__salary-history .salary-history__table-row .table-value:last-child {
          margin-left: auto; }
  .right-column__salary-history .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem; }
    .right-column__salary-history .pagination p {
      font-size: 1.4rem;
      font-weight: 600; }
    .right-column__salary-history .pagination .left-arrow, .right-column__salary-history .pagination .right-arrow {
      width: 1rem;
      cursor: pointer; }
    .right-column__salary-history .pagination .left-arrow {
      margin-right: 3rem; }
    .right-column__salary-history .pagination .right-arrow {
      margin-left: 3rem; }

.right-column__leave-request {
  width: 100%;
  min-height: 8rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .right-column__leave-request .btn-apply-now {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.2rem 4.5rem;
    border-radius: 0.5rem;
    background-color: #FF4C2F;
    color: #FFFFFF;
    align-self: center;
    margin-right: 2rem;
    transition: all 0.2s; }
    .right-column__leave-request .btn-apply-now:hover {
      background-color: #ab3825; }

.right-column__leaves-cards {
  width: 100%;
  height: 30rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between; }
  .right-column__leaves-cards .leave-card {
    width: 15%;
    background-color: #FFFFFF;
    border-radius: 0.5rem; }
    .right-column__leaves-cards .leave-card__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5rem; }
      .right-column__leaves-cards .leave-card__info .leave-icon {
        width: 6rem;
        height: 6rem;
        margin-bottom: 5rem; }
      .right-column__leaves-cards .leave-card__info .row-data {
        display: flex;
        justify-content: space-between;
        width: 80%; }
        .right-column__leaves-cards .leave-card__info .row-data:not(:last-child) {
          margin-bottom: 1.5rem; }
        .right-column__leaves-cards .leave-card__info .row-data .row-title {
          font-size: 1.5rem;
          font-weight: 500; }
        .right-column__leaves-cards .leave-card__info .row-data .row-value {
          font-size: 1.5rem;
          font-weight: 600; }

.right-column__leave-requests {
  width: 100%;
  min-height: 30rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  margin-top: 3rem;
  position: relative;
  box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06); }
  .right-column__leave-requests .btn {
    border: none;
    background-color: transparent;
    position: absolute;
    padding: 1.2rem 2rem;
    border-radius: 0 0 1.5rem 1.5rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer; }
    .right-column__leave-requests .btn__upcoming {
      background-color: #f5f0f0;
      top: 0;
      right: 20%;
      color: #000000; }
    .right-column__leave-requests .btn__history {
      background-color: #f5f0f0;
      top: 0;
      right: 10%;
      color: #000000;
      padding: 1.2rem 2.5rem; }
    .right-column__leave-requests .btn__selected {
      background-color: #FF4C2F;
      color: #FFFFFF; }
  .right-column__leave-requests .row-leave-request {
    width: 100%;
    min-height: 7rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-top: 0.1rem dashed #CFCFCF; }
    .right-column__leave-requests .row-leave-request .date-icon {
      width: 1.7rem;
      height: 1.7rem; }
    .right-column__leave-requests .row-leave-request .date-day {
      font-size: 1.5rem;
      font-weight: 500;
      color: #676767;
      margin-left: 3rem; }
    .right-column__leave-requests .row-leave-request .holiday-name {
      font-size: 1.5rem;
      font-weight: 500;
      color: #676767;
      margin-left: 20rem; }

.fixed-bar {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.width-fix {
  width: 100%; }

.month-year {
  display: flex;
  align-items: center;
  margin-right: 2rem; }
  .month-year .bdaymonth {
    font-size: 1.5rem;
    font-weight: 700; }
  .month-year #bdaymonth {
    background-color: #FF4C2F;
    color: #FFFFFF; }

.right-column__cards {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between; }
  .right-column__cards .single-card {
    width: 37.5%;
    height: 12rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.6rem 3rem rgba(0, 0, 0, 0.06);
    background-color: #FFFFFF;
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .right-column__cards .single-card .card-icon {
      width: 7rem; }
    .right-column__cards .single-card .card-info {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .right-column__cards .single-card .card-info .card-title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem; }
      .right-column__cards .single-card .card-info .card-value {
        font-size: 2.5rem;
        font-weight: 600;
        color: #FF4C2F; }

.card-no-3 {
  width: 30% !important;
  padding-right: 5rem !important;
  padding-left: 5rem !important;
  box-sizing: border-box; }
  .card-no-3 .card-icon {
    width: 5rem !important; }
  .card-no-3 .card-title {
    font-size: 1.5rem !important; }
  .card-no-3 .card-value {
    font-size: 2rem !important; }
