@media only screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
    .right-column__employee-finance .finance-container img {
        width: 6rem;
        margin-right: 2rem;
    }
}