//CONTAINER HEADER COMPONENT
.container-header {
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  padding-left: 3rem;
  margin-top: 3rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background-color: $color-secondary;
    border-radius: 0 1rem 1rem 0;
  }
}

//FINANCE CARD
.finance-card {
  width: 45%;
  height: 32.6rem;
  border-radius: 0.5rem;
  @include dropShadow;
  background-color: $color-primary;
  margin-right: 3rem;
  .container {
    width: 100%;
    min-height: 10rem;
    // background-color: orangered;
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-around;
    .finance-info-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .finance-icon {
        width: 5rem;
        height: 5rem;
      }
      // background-color: orange;
      .finance-title {
        font-size: 1.5rem;
        color: #676767;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .finance-value {
        font-size: 1.5rem;
      }
    }
  }
}

.value {
  color: $color-secondary;
  font-size: 2.5rem;
}

.table {
  border-collapse: collapse;
  width: 100%;

  tr th {
    font-size: 1.4rem;
    font-weight: 600;
    color: #cfcfcf;
  }
  tr td {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000000;
  }

}


th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#month-year {
  background-color: $color-secondary;
  border: none;
  outline: none;
  border-radius: 0 0 1.5rem 1.5rem;
  position: absolute;
  font-size: 1.5rem;
  font-family: inherit;
  top: 0;
  right: 3%;
  color: $color-primary;
  padding: 1rem;
}