.u-margin-top-xs {
    margin-top: 2.5rem;
}

.u-margin-top-small {
    margin-top: 3rem;
}

.u-margin-top-n {
    margin-top: -22rem;
}

.u-margin-right-sm {
    margin-right: 3rem;
}

.u-width-enlargement {
    width: 60% !important;
}

.u-width-smallen {
    width: 30% !important;
}
