.card-no-3 {
    width: 30% !important;
    padding-right: 5rem !important;
    padding-left: 5rem !important;
    box-sizing: border-box;
    .card-icon {
        width: 5rem !important;
    }
    .card-title {
        font-size: 1.5rem !important;
    }
    .card-value {
        font-size: 2rem !important;
    }
}